html {
    font: Helvetica, sans-serif;
}

body {
    background-image: url('https://cdn.oboi7.com/content/images/66/9f/669f1ca2262454d2c343b3a4753b159e0369361b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #111111;
    background-size: calc(550px + (550 - 85) * ((100vw - 320px) / (1440 - 320)));
    border: none;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}




header {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
    width: 100vw;
    height: calc(80px + (100 - 80) * ((100vw - 320px) / (1440 - 320)));
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: #A01204 0px 4px 14px;
    background: linear-gradient(#260302, 70%, rgb(88 2 0));
    opacity: 0.9;
}

*, *::after, *::before {
    margin:0;
}

#logo {
    margin: 5px;
    height: calc(60px + (80 - 60) * ((100vw - 425px) / (1440 - 425)));
    width: calc(60px + (80 - 60) * ((100vw - 425px) / (1440 - 425)));
    float: left;
    border-radius: 20px;
    box-shadow: rgb(32 10 10) 0px 0px 6px 3px;
}

ul, ul > li {
    margin:0;
    padding:0;
}

.hrefs {
    display: flex;
    flex-direction: column;
    width: calc(120px + (420 - 120) * ((100vw - 320px) / (1440 - 320)));
    margin: calc(4px + (5 - 4) * ((100vw - 320px) / (1440 - 320)));
    justify-content: space-between;
    list-style: none;
}

#events {
    padding: calc(2px + (3 - 2) * ((100vw - 320px) / (1440 - 320)));
    text-decoration: none;
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
    text-shadow: 2px 2px 5px rgb(255 104 104);
    box-shadow: rgb(32 10 10) 0px 0px 3px 2px;
    color: rgb(219 191 115);
    background: linear-gradient(to top right,rgb(182 0 0), rgb(226 76 2));
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#life {
    padding: calc(2px + (3 - 2) * ((100vw - 320px) / (1440 - 320)));
    text-decoration: none;
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
    text-shadow: 2px 2px 5px rgb(39 6 6);
    box-shadow: rgb(32 10 10) 0px 0px 3px 2px;
    color: rgb(219 191 115);
    background: linear-gradient(to top right,rgb(83 14 14), rgb(182 0 0));
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#life:hover {
    text-shadow: 1px 1px 5px rgb(219 135 135);
    box-shadow: rgb(224 205 207) 0px 0px 3px 2px;
}

#events:hover {
    text-shadow: 2px 2px 5px rgb(82 19 19);
    box-shadow: rgb(224 205 207) 0px 0px 3px 2px;
}

.form {
    margin: calc(3px + (7 - 3) * ((100vw - 320px) / (1440 - 320)));
    width: calc(120px + (420 - 120) * ((100vw - 320px) / (1440 - 320)));
    padding: 0;
    display: grid;
}

.place {
    border-color: rgb(247 0 0);
    background-color: rgb(113 27 27);
    border-radius: 5px;
    color: cornsilk;
    width: calc(100px + (380 - 100) * ((100vw - 320px) / (1440 - 320)));
    height: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .place:hover {
        text-shadow: 1px 1px 5px rgb(219 135 135);
        box-shadow: rgb(224 205 207) 0px 0px 3px 1px;
        background-color: rgb(182 21 21);
    }

.butres {
    border: none;
    background-color: rgb(160 0 0);
    border-radius: 5px;
    color: rgb(227 154 94);
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
    padding: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.butser {
    border: none;
    background-color: rgb(160 0 0);
    border-radius: 5px;
    color: rgb(227 154 94);
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
    padding: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .butser:hover {
        text-shadow: 1px 1px 5px rgb(219 135 135);
        box-shadow: rgb(224 205 207) 0px 0px 3px 1px;
        background-color: rgb(182 21 21);
    }

.butres:hover {
    text-shadow: 1px 1px 5px rgb(219 135 135);
    box-shadow: rgb(224 205 207) 0px 0px 3px 1px;
    background-color: rgb(182 21 21);
}



.them {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 3fr 1fr;
    gap: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
}



article {
    border-radius: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));
    opacity: 0.9;
    margin-bottom: 50px;
}

.sneg {
    text-align: center;
    padding: 15px;
    border-radius: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));
}

#sneg {
    font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1440 - 320)));
    margin-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1440 - 320)));
    color: rgb(250 222 173);
}

#textst {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
    color: rgb(250 222 173);
}

.imgb1 {
    background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLWMNOjB97CRMzgvnw59GZR2mAAsi6gsBfMqqu1AnkCg0xvmeu6wnWOZhdiJrT1112kM9iuX-dvKNndgE1DC5WGf6o4_vBdXVl_VuGI4lIxq7L9T1phhNEEXdSb3xPIgkgpqYNqlvktxnlIrFURhIDzr=w2300-h1374-no?authuser=0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: calc(300px + (500 - 300) * ((100vw - 320px) / (1440 - 320)));
    width: calc(320px + (1100 - 320) * ((100vw - 320px) / (1440 - 320)));
    border-radius: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));
    padding: 15px;
    opacity: 0.97;
    object-fit: cover;
    object-position: top;
}

.dusha {
    text-align: center;
    padding: 15px;
    border-radius: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));
}

#dusha {
    font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1440 - 320)));
    margin-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1440 - 320)));
    color: rgb(250 222 173);
}

#dushast {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
    color: rgb(250 222 173);
}

.imgb2 {
    background-image: url(https://lh3.googleusercontent.com/DDoVithN_vBvGHviurHoLVGb7t6h5K2gUxc5Ozw5dfuykVNEHJG96IX6M44CGVj67zyiWXwXr6EfC1FJxumXXOIqhWmV90DDxp-MWI3X9vodfqKPWGphqspzho8dP3mFaX_XxkzB0UStyPOe2xq7o0fZPXZlLXDUaIuxhCFDyMeJ3vCUXHEE_nDQqgQmk5xkpeqzJjNtWB55dtQWZqgZ1hjfirWWM_5w7ljAeEcMadtWm7qbCbIKstGhHYioJRTwjh1fPrJ-dXzxlBTSTBqFEekq52oI02Ea0qAJQHuiRQ8g8-tg4lqNqCZ_7nlq-bAdqbN7nBbxfGT56NNOJqb9sdAbP0OXKMCmh705qPMs8kZfoQx5-wwMFRe9hOJFlBocaOK_ZYqeKFeqTfTfzyQwKXIZCIbIi6b4wIUZQSJbCsYE7ohTl0n9r3Dzeyr8dQiaoda6DPOHk1Z8b0rdK9JcBDU5ObrpoL9DRcrSRkTeHHca9gPh3YWqJOEnoFWFCbFOS3uTxDfFcWr5NH5lFsuQ65nw2cbVOe4_Xz-UlYrWEaRCYrSE9XkJzJrIenWinF7PXex0y85ap6e6njgsIGgeefrKCLUA7_iXr_CtvMce9tNCj6zDXYtb01IezGwYCHvgP7v7TbjHQ2cjhs7el9oyhWwFd1zHYiSderdRMvmr0BgHcUTxWaadM_TM8VCRZ1XW-2ig0WEvjMgBO4l7FHQV-b8=w1323-h611-no?authuser=0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: calc(300px + (500 - 300) * ((100vw - 320px) / (1440 - 320)));
    width: calc(320px + (1100 - 320) * ((100vw - 320px) / (1440 - 320)));
    border-radius: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));
    padding: 15px;
    opacity: 0.99;
    object-fit: cover;
}

.button {
    background-color: rgb(231 197 93);
    font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1440 - 320)));
    color: rgb(103 12 12);
    border: 1px solid rgb(221 169 61);
    border-radius: 5px;
    margin: 7px;
    cursor: pointer;
    padding-bottom: calc(7px + (10 - 7) * ((100vw - 320px) / (1440 - 320)));
    padding-top: calc(7px + (10 - 7) * ((100vw - 320px) / (1440 - 320)));
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

    .button:hover {
        color: rgb(80 8 8);
        text-shadow: 1px 1px 5px rgb(103 12 12);
        box-shadow: rgb(220 190 113) 0px 0px 3px 0.5px;
        background-color: rgb(252 211 96);
    }



aside {
    margin-bottom: 50px;
    background: linear-gradient(30deg, #260302, #490C0C, #600602);
    opacity: 0.65;
    box-shadow: #010101 0px 0px 5px 5px;
    border-radius: calc(7px + (15 - 7) * ((100vw - 320px) / (1440 - 320)));
    z-index: 0;
    padding: calc(5px + (14 - 5) * ((100vw - 320px) / (1440 - 320)));
}

.states {
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
}

.h2 {
    color: rgb(208 231 255);
    font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));
    margin-bottom: calc(7px + (19 - 7) * ((100vw - 320px) / (1440 - 320)));
}

.pstates {
    font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1440 - 320)));
    color: rgb(218 255 212);
    margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1440 - 320)));
}

#hide3 {
    border: none;
    background-color: rgb(188 0 0);
    border-radius: 5px;
    color: rgb(217 210 51);
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
    padding: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#hide3:hover {
    text-shadow: 1px 1px 5px rgb(219 135 135);
    box-shadow: rgb(141 121 123) 0px 0px 3px 1px;
}

#skr3 {
    border: none;
    background-color: rgb(188 0 0);
    border-radius: 5px;
    color: rgb(217 210 51);
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
    padding: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    #skr3:hover {
        text-shadow: 1px 1px 5px rgb(219 135 135);
        box-shadow: rgb(141 121 123) 0px 0px 3px 1px;
    }

.send {
    box-shadow: rgb(32 10 10) 0px 0px 6px 3px;
    background-color: rgb(98 41 39);
    padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1440 - 320)));
    margin-top: calc(7px + (18 - 7) * ((100vw - 320px) / (1440 - 320)));
    border-radius: calc(5px + (10 - 5) * ((100vw - 320px) / (1440 - 320)));
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.send:hover {
    box-shadow: rgb(224 205 207) 0px 0px 3px 1px;
}

h3 {
    font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
    color: rgb(235 201 255);
    margin-bottom: calc(7px + (15 - 7) * ((100vw - 320px) / (1440 - 320)));
}

.h2place {
    border-color: rgb(217 166 29);
    background-color: rgb(153 26 26);
    border-radius: 5px;
    color: rgb(14 214 232);
    margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1440 - 320)));
    width: calc(100px + (210 - 100) * ((100vw - 320px) / (1440 - 320)));
    height: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .h2place:hover {
        background-color: rgb(134 12 12);
        box-shadow: rgb(32 10 10) 0px 0px 6px 3px;
    }

.h2but {
    margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1440 - 320)));
    border: none;
    background-color: rgb(188 0 0);
    border-radius: 5px;
    color: rgb(217 210 51);
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
    padding: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .h2but:hover {
        text-shadow: 1px 1px 5px rgb(219 135 135);
        box-shadow: rgb(141 121 123) 0px 0px 3px 1px;
    }




footer {
    text-align: center;
    font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1440 - 320)));
    height: calc(110px + (170 - 110) * ((100vw - 320px) / (1440 - 320)));
    box-shadow: rgb(29 9 9) 0px -6px 10px;
    background: linear-gradient( #727272, rgb(62 62 62));
    opacity: 0.85;
}

.footer {
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
}



@media (max-width: 768px) {
    header {
        width: calc(320px + (768 - 320) * ((100vw - 320px) / (768 - 320)));
    }

    *, *::after, *::before {
        margin: 0;
    }

    .them {
        display: flex;
        flex-direction: column;
        margin-left: calc(10px + (50 - 10) * ((100vw - 320px) / (768 - 320)));
        margin-right: calc(10px + (50 - 10) * ((100vw - 320px) / (768 - 320)));
    }

    *, *::after, *::before {
        margin: 0;
    }

    .imgb1 {
        height: calc(100px + (250 - 100) * ((100vw - 320px) / (768 - 320)));
    }

    .imgb2 {
        height: calc(100px + (250 - 100) * ((100vw - 320px) / (768 - 320)));
    }
}